<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detection</title>
    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>
        AI-Based Fake News Detection
    </h1>

    <form action="/predict"
    method="POST">

        <textarea
        name="news"
        placeholder="Enter news here..."
        required></textarea>

        <button type="submit">
            Detect News
        </button>

    </form>

    {% if prediction %}

    <div class="result">

        <h2>
            Result:
            {{ prediction }}
        </h2>

    </div>

    {% endif %}

</div>

</body>
</html>