<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Screening</title>
</head>

<body>

<h1>AI-Based Resume Screening System</h1>

<form method="POST"
      enctype="multipart/form-data">

    <label>Select Job Role:</label>

    <select name="role">

        <option>AI/ML Intern</option>
        <option>Web Developer</option>
        <option>Data Analyst</option>

    </select>

    <br><br>

    <label>Upload Resume:</label>

    <input type="file"
           name="resume"
           required>

    <br><br>

    <button type="submit">
        Analyze Resume
    </button>

</form>

{% if score %}

<h2>Screening Result</h2>

<p><b>Score:</b> {{ score }}%</p>

<p><b>Matched Skills:</b>
{{ skills }}</p>

<p><b>Status:</b>
{{ result }}</p>

{% endif %}

</body>
</html>